{% extends 'myapp/base.html' %}

{% block title %} Pom Website - aboutus {% endblock title %}

{% block menubar %}
        <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'home' %}">Home</a>
        <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="">Product</a>
        <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="">Tracking</a>
        <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'about-us' %}">About us</a>
        <a class="nav-link fw-bold py-1 px-0" href="{% url 'contact' %}">Contact</a>
{% endblock menubar %}

{% block content %}
    <h1>About Pom</h1>
    <p class="lead">About Pom</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
    <center><img src = "https://images.macrumors.com/t/AI0UfpE0Io0I3yfew8TtFUxyi3s=/800x0/smart/article-new/2013/09/macbook-air-m2-roundup-header.png?lossy" width = "400"></center>
{% endblock content %}
